{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Settings</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href="{% static 'styles.css' %}">

</head>
<body>
<header>
    <nav>
        <div class="nav-container">

            <div class="box" style="display: flex; align-items: center;">
                <a href="create" class="navbar-text" style="padding-right: 10px; font-size: 30px; color: #000000;">CREATE</a>
            </div>

        </div>
    </nav>
</header>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

<div class="profile-block">

    <div class="container">
        <div class="left">
            </div>
        </div>
        <div class="right">
            <label for="">Title</label>

            <input type="text" name="title" value=""
                   class="shadow-none bg-gray-20">

            <button class="submit" type="submit">Save Changes</button>
        </div>
    </div>
</div>

</form>
</body>
</html>