@font-face {
    font-family: 'Inter-Bold';
    src: url('/static/css/fonts/Inter/static/Inter-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('/static/css/fonts/Inter/static/Inter-Regular.ttf') format('truetype')
}

.navbar-text {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #b9b9b9;
    font-size: 20px;
    font-family: 'CustomInter', sans-serif;
    font-weight: 900;
    word-wrap: break-word;
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 2;
}

.create-button,
.connect-button,
.drop-button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 333px;
    height: 50px;

    font-size: 30px;
    font-family: Inter-Bold, serif;
    color: black;

    border-radius: 10px;
}

.create-button {
    background: linear-gradient(90deg, #B8FFF2 0.46%, #83BCFF 100.14%);
}

.connect-button {
    background: linear-gradient(90deg, #a252e5 0.46%, #e3543b 100.14%);
}

.drop-button {
    background: linear-gradient(90deg, #ea2b9b 0.46%, #83BCFF 100.14%);

}


.blur-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background: linear-gradient(to bottom, #141414 40%, transparent 100%);
    mask-image: linear-gradient(to bottom, #141414 40%, transparent 100%);
    filter: blur(5px); /* Adjust the blur amount as needed */
    z-index: 2;
}


.notif_circle {
    position: absolute;
    right: 0;
    margin-right: 20px;
    height: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: #676767;;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.send-button {
    width: 10%;
    height: 115%;
    background-color: #5aacff;
    border-radius: 10px;
    margin: 0 10px 0 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.message-received {
    margin-right: auto;
    background-color: #8d8d8d; /* Light gray background */
    border-radius: 15px 15px 15px 0; /* Rounded corners on the right */
    padding: 10px;
    margin-bottom: 10px;
}

.message-sent {
    margin-left: auto;
    background-color: #628ede; /* Slightly darker gray background */
    border-radius: 15px 15px 0 15px; /* Rounded corners on the left */
    padding: 10px;
    margin-bottom: 10px;
}

/* Common styles for both types of messages */
.message-sent, .message-received {
    max-width: 50%; /* Limit message width to prevent overflow */
    clear: both; /* Ensure messages start on a new line */
    font-family: sans-serif;
    font-size: 20px;
}


/*Animated Button*/

.container-login100-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
}

.wrap-login100-form-btn {
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 auto;
}

/*.login100-form-bgbtn {*/
/*    position: absolute;*/
/*    z-index: -1;*/
/*    width: 300%;*/
/*    height: 50px;*/
/*(90 deg, #B8FFF2 0.46 %, #83BCFF 100.14 %) background: #a64bf4;*/
/*    background: -webkit-linear-gradient(right, #B8FFF2, #83BCFF, #B8FFF2, #83BCFF);*/
/*    background: -o-linear-gradient(right, #B8FFF2, #83BCFF, #B8FFF2, #83BCFF);*/
/*    background: -moz-linear-gradient(right, #B8FFF2, #83BCFF, #B8FFF2, #83BCFF);*/
/*    background: linear-gradient(right, #B8FFF2, #83BCFF, #B8FFF2, #83BCFF);*/
/*    top: 0;*/
/*    left: -100%;*/

/*    -webkit-transition: all 0.4s;*/
/*    -o-transition: all 0.4s;*/
/*    -moz-transition: all 0.4s;*/
/*    transition: all 0.4s;*/
/*}*/

.login100-form-btn {
    font-size: 20px;
    color: #ffffff;
    line-height: 1.2;
    text-transform: uppercase;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.wrap-login100-form-btn:hover .login100-form-bgbtn {
    left: 0;
}

.bioform {
    border: #6d28d9;
    border-width: thin;
}

.title-form {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.setup-create {
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.setup-create:hover {
    background-color: #0056b3;
}

.search-bar {
    height: 30px;
    border-radius: 5px;
    border-color: gray;
    display: flex; /* Use flexbox to center the input field horizontally */
    width: 87vw; /* Ensure the search bar container takes up full width of its parent */
    gap: 5%;
    padding-right: 5%;
}

.search-bar input[type="search"] {
    width: 85%; /* Set the width to 70% of its parent container */
    border: 5px #30363A; /* Set the border color to grey */
    opacity: 0.5; /* Make the input field semi-transparent */
    padding: 10px; /* Add some padding inside the search box for better text visibility */
    margin: 0 auto; /* Center the search box within its parent container */
    display: block; /* Make sure the input field is a block-level element to respect width and margin */
    background-color: #ffffff; /* Ensure the background is transparent */
    color: black;
    border-radius: 5px;
    left: 0;
}

.bell-link {
    display: inline-block;
    padding: 20px;
    margin-top: 15px;
    margin-left: 10px;
    background-image: url('/media/bell.png');
    background-size: contain; /* Ensures the image fits within the link, maintaining its aspect ratio */
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-decoration: none;
    position: relative; /* Make this a positioning context for absolute children */
    z-index: 5;
}

.corner-block {
    position: absolute; /* Position relative to bell-link */
    bottom: 0; /* Align to the bottom */
    right: 0; /* Align to the left */
    width: 60%; /* Or adjust to your preference */
    height: 60%; /* Or adjust to your preference */
    background-color: #000000; /* Example color */
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.corner-block p {
    margin: 0; /* Remove default margin to help with centering */
    text-align: center;
    color: red;
}
