@font-face {
    font-family: 'Inter-Bold';
    src: url('/static/css/fonts/Inter/static/Inter-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('/static/css/fonts/Inter/static/Inter-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('/static/css/fonts/Inter/static/Inter-Regular.ttf') format('truetype')
}

hr {
    border: none; /* Removes the default border */
    height: 2px; /* Sets the height of the line */
    background-color: #1E2023; /* Change this to your desired color */
}

header {
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 10vh;
    top: 0;
    z-index: 3;
}

.header-block {
    display: flex;
    width: 100%;
    margin-right: 30px;
    margin-left: 30px;
    justify-content: space-around;
}

.header-left {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    margin-top: 3.3vh;
}

.header-right {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-top: 3.3vh;
}

nav {
    display: grid;
    justify-content: center;
    align-items: center;
    overflow: auto;
    width: 100%;
    z-index: 3;
    background: linear-gradient(to bottom, black 30%, transparent 95%);
    height: 100%;
}

.nav2 {
    display: flex;
    justify-content: space-evenly;
}

body {
    display: flex;
    justify-content: center;
    background-color: #000000;
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    width: 100%
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 4vh;
    padding-top: 2vh;/* Adds space inside the footer at the bottom */
    box-sizing: border-box;
    backdrop-filter: blur(30px); /* Apply blur effect for browsers */
    -webkit-backdrop-filter: blur(30px); /* Apply blur effect for Safari */
    background: rgba(0, 0, 0, 0.5);
}

a {
    text-decoration: none;
    font-family: 'Inter-Bold', sans-serif;
    color: white;
}

p {
    font-family: 'Inter-Bold', sans-serif;
    text-decoration: none;
    margin: 0px;
    color: #C9C9C9;
}

li {
    list-style-type: none;
}

input[type="text"]:focus {
    outline: none;
    border: none;
}

textarea:focus {
    outline: none;
    border: none;
}
