nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Three columns with equal width */
    justify-content: center;
    align-items: center;
    overflow: auto;
    width: 100%;
}

/* Parent block for profile, projects */
.dashboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 11vh;
    padding: 20px;
    align-items: center;
    position: relative;
    height: 90%;
    z-index: 0;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    position: fixed;
    bottom: 0;
    background-color: #232323;
}

/*.scroll-container {*/
/*    height: 100%;*/
/*    width: 92%;*/
/*    position: relative;*/
/*    margin: auto;*/
/*}*/

.scroll-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100%;
    width: 92%;
    position: relative;
    margin: auto;
}