/* Parent block for profile, projects */
.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 87vw;
    gap: 15px;
    margin-top: 10vh;
    padding: 0 20px 10vh 20px; /* top right bottom left */
    position: relative;
    z-index: 0;
}

.header-text-container {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100%;
}

/*.scroll-container {*/
/*    height: 100%;*/
/*    width: 92%;*/
/*    position: relative;*/
/*    margin: auto;*/
/*}*/

.scroll-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 100%;
    width: 87vw;
    position: relative;
    margin-top: 10vh;
    padding: 0 20px 10vh 20px; /* top right bottom left */
    z-index: 0;
}
.chat-container{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 90%;
    margin-top: 10vh;
    border-radius: 5px;
    padding: 10px 10px;

}

/*.chat-container {*/
/*    margin-top: 10vh;*/
/*    width: 87vw;*/
/*    height: 100%;*/

/*}*/