/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter-Bold', sans-serif;
}

body {
    min-height: 100vh;
    width: 100%;
    background: #000000;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    padding: 0 10%;
}

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 430px;
    width: 80%;
    background: #FFF;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.login-container .form {
    padding: 2rem;
    padding-top: 0;
}



.wrong-cred {
    width: 80%;
    max-width: 430px;
    height: 50px;

    display: none;
    justify-content: center;
    align-items: center;

    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);

    background: #FF4F00;
    color: #5F1D00;
    border-radius: 10px;
    font-size: 110%;
}

.login-error {
        top: 25%;
}

.signup-error {
        top: 19%;
}

.form header {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form input {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #000;
    border-radius: 10px;
    outline: none;
}

.form input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
    font-size: 16px;
    color: #1f1f1f;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.button {
    color: #fff;
    background: #000;

    width: 80%;
    height: 50px;

    margin-left: 10%;
    margin-right: 10%;
    border-radius: 25px;

    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: .5rem;
    cursor: pointer;
    transition: 0.4s;
}

.form input.button:hover {
    background: #000000;
}

.signup {
    font-size: 17px;
    margin-top: 20px;
    text-align: center;
}

.signup label {
    color: #1f1f1f;
    cursor: pointer;
}

.signup label:hover {
    text-decoration: underline;
}
