.blur-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 110%;
    background: linear-gradient(to bottom, #141414 40%, transparent 100%);
    mask-image: linear-gradient(to bottom, #141414 40%, transparent 100%);
    filter: blur(5px); /* Adjust the blur amount as needed */
    z-index: 2;
}


.header-text-container {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100%;
}

.navbar-text {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #b9b9b9;
    font-size: 20px;
    font-family: 'CustomInter', sans-serif;
    font-weight: 900;
    word-wrap: break-word;
    text-decoration: none;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 2;
}