@font-face {
    font-family: 'Inter-Bold';
    src: url('/static/css/fonts/Inter/static/Inter-Bold.ttf') format('truetype')
}

@font-face {
    font-family: 'Inter-Regular';
    src: url('/static/css/fonts/Inter/static/Inter-Regular.ttf') format('truetype')
}

@font-face {
    font-family: 'Inter-Medium';
    src: url('/static/css/fonts/Inter/static/Inter-Regular.ttf') format('truetype')
}

.settings-container {
    width: 87vw;
    height: 100vh;
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.settings-image-container {
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
}

.settings-form-container {
    width: 100%;
    display: flex;
}

.settings-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
}

.settings-block-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
}

.public-block {
    display: flex;
    width: 100%;
    height: auto;
    flex-shrink: 0;
    border-radius: 10px;
    background: url(<path-to-image>);
    border-color: #9ca3af;
}

.bio-and-music-block {
    position: absolute;
    bottom: 0;
    height: 25%;
    width: 90%;

    display: flex;
    align-items: center;
    border-color: black;
    gap: 5%;
}


.settings-bio {
    width: 50%;
    height: 15vh;

    border: none;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);

    font-size: 15px;
    color: #E4E4E4;
    text-align: left;
    font-family: 'Inter-Bold', sans-serif;
    padding: 6px;
    margin-bottom: 5rem;
}

.settings-name {
    position: absolute;
    top: 0;
    width: 90%;
    z-index: 10;
    margin-top: 10px;

    border: none;
    border-radius: 5px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);

    color: white;
    text-align: left;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: -1px;
}

.settings-pfp {
    display: none;
}

.pfpform-label {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    max-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pfpform-label p {
    font-family: "Inter-Bold", serif;
}

.daw {
    height: 100%;
    width: 50%;
}

.modal {
    width: 100%;
    height: 100%;
}

.image-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-height: 40vh;
}

.image-container:hover {
    cursor: pointer;
}

.thin-block {
    width: 100%;
    height: 50px;
    background: #232323;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.minor-buttons {
    height: 25px;
    background: #FF4F00;
    border-color: #5F1D00;
    color: #758087;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    /*margin: 5% 0;*/
    font-family: "Inter-Medium", sans-serif;
    font-size: 75%;

}

.confirm-btn {
    position: relative;
    width: 30%;
    margin-top: 10px;

}

.log-out {
    gap: 5%;
    width: 60%;
}

.log-out p {
    font-size: 13px;
    font-family: 'Inter-Bold', sans-serif;
    color: #5F1D00;
}

.edit-heading {
    font-family: 'Inter-Medium', sans-serif;
    text-align: left;
    font-size: 30px;
    width: 100%;
    margin: 0 0 2vh 0;
}

.profile-block {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    background-size: cover; /* Ensures the background image covers the entire element */
    background-position: center; /* Centers the background image */
    overflow: hidden; /* Ensure the pseudo-element respects the div's border-radius */
}

.profile-block::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: inherit; /* Inherit the background of the parent */
    filter: brightness(80%); /* Dim the background by reducing brightness */
    z-index: 0;
}

.profile-block > * {
    position: relative;
    z-index: 1;
}

.top-block {
    aspect-ratio: 2 / 1;
}

.name-block {
    display: flex;
    height: auto;
    padding: 1rem;
}

.blur-block {
    display: flex;
    flex-direction: column;
    aspect-ratio: 2 / 1;
    backdrop-filter: blur(10px); /* Apply blur effect */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
}

.blur-top {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: auto;
}

.top-left {
    width: 100%;
    height: auto;
}

.top-right {
    width: 100%;
    height: auto;
}

.blur-bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.bottom-left {
    width: 100%;
    height: auto;
}

.bottom-mid {
    width: 100%;
    height: auto;
}

.bottom-right {
    width: 100%;
    height: auto;
    justify-content: flex-end;
}
