/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 75%;
    width: 100%;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

h1 {
    position: relative;
    font-size: 5rem;
    font-weight: 500;
    text-align: center;
}

.form input:focus {
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

.form a {
    font-size: 16px;
    color: #1f1f1f;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.button {
    color: #fff;
    background: #1f1f1f;

    width: auto;
    height: auto;
    border-radius: 10px;
    letter-spacing: 1px;
}

.form input.button:hover {
    background: #000000;
}

.signup {
    font-size: 17px;
    text-align: center;
}

.signup label {
    color: #1f1f1f;
    cursor: pointer;
}

.signup label:hover {
    text-decoration: underline;
}

.wksp-image-block {
    display: flex;
    position: relative;
    justify-content: center;
    max-height: 50%;
}

.set-up-form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    gap: 1.2rem;
}

.set-up {
    width: 100%;
    padding: 2rem;

}


.titleform {
    width: 100%px;
    height: 50px;
    padding: 0 15px;
    font-size: 20px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
}

.cviform {
    display: none;
}

.cviform-label {
    position: relative;
    width: 100%;
    border: none;
    cursor: pointer;
    text-align: center;
    max-height: 15vh;
}

.input-container {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
}

.image-box {
    max-height: 80%;
    max-width: 80%;
}

.cropper-point.point-se {
    height: 35px !important;
    width: 35px !important;
}