{% load static %}

@font-face {
    font-family: 'CustomInter';
    src: url('/static/css/fonts/Inter/static/Inter-ExtraBold.ttf') format('ttf')
}

.header {
    display: flex;
    justify-content: center;
    background: linear-gradient(180deg, #FFF 0%, #FFF 0.01%, rgba(255, 254, 254, 0.00) 100%);
    backdrop-filter: blur(5px);
    padding: 23px;
    color: #000;
    position: fixed;
    width: 100%;
    top: 0;
}

nav {
    display: flex;
    justify-content: center;
}


.header-font-big {
    width: 9.8125rem;
    height: 2.375rem;
    flex-shrink: 0;
    color: #000;
    font-family: 'CustomInter', sans-serif;
    font-size: 2.14844rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.header-font-small {
    width: 5.9375rem;
    height: 1.5625rem;
    flex-shrink: 0;
    color: #585858;
    font-family: 'CustomInter', sans-serif;
    font-size: 1.41344rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}

.body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding-top: 50%;
    background: url({{profile.profileimg.url}});
}

.signin {
    width: 100%;
    height: 100%
    display: flex;
    align-items: center;
    justify-items: center;
}

.redirect-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFF;
    color: #000;
    text-decoration: none;
    border-radius: 0.3125rem;
    margin: 0 auto;
}


.post-head {
    height: 3rem;
    flex-shrink: 0;
    background: #FFD3BA;
    box-shadow: 0px 3px 0px 0px #000;
}

.post-head-text {
    display: inline-block;
    padding: 10px 20px;
    width: 4.5rem;
    height: 1.5625rem;
    flex-shrink: 0;
    color: #000;
    font-family: 'CustomInter', sans-serif;
    font-size: 1.16763rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
}


.stranger-profile-block {
    margin-bottom: 5px;
    display: flex;
    width: 100%;
    border-radius: 0.3125rem;
    border: 3px solid #000;
    background: #FFF;
}

/* Profile block on dashboard*/
.profile-block {
    width: 332px;
    height: 347px;
    flex-shrink: 0;

    border-radius: 4px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    /*margin-bottom: 5px;*/
    /*height: 25vh;*/
    /*width: 100%;*/
    /*border-radius: 0.3125rem;*/
    /*border: 3px solid #000;*/
    /*background: #FFF;*/
}

.projects-block {
    width: 333px;
    height: 229px;
    flex-shrink: 0;

    border-radius: 5px;
    background: #232323;
    /*display: flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    /*width: 100%;*/
    /*border-radius: 0.3125rem;*/
    /*border: 3px solid #000;*/
    /*background: #FFF;*/
}

.project {
    display: flex;
    align-items: center;
    width: 94%;
    height: 50px;
    border: 2px solid #000;
    margin: 3%;

}

.scroll-container {
    overflow-y: scroll;
    height: 100%;
}



/* Style for the custom file input container */
.custom-file-input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 3px;
    display: inline-block;
}

/* Style for the actual file input (hidden) */
.custom-file-input input[type=file] {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
}

/* Style for the label */
.custom-file-input label {
    background-color: #000000;
    font-size: 15px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

.submit {
    background-color: #000000;
    font-size: 15px;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

/* Create, publish buttons, the ones that grab a users attention */
.attention-button {
    width: 333px;
    height: 50px;
    flex-shrink: 0;
    font-size: 30px;

    border-radius: 10px;
    background: linear-gradient(90deg, #B8FFF2 0.46%, #83BCFF 100.14%);

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
    justify-content: center;
    gap: 5px;
}

.forms {
    border: 1px solid slateblue;
    border-radius: 5px;
    width: 95%;
    padding: 10px 10px;
    font-size: 10px;
}

.chat-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    height: 90%;
    border: 1px solid slateblue;
    border-radius: 5px;
    padding: 10px 10px;

}

.message-received {
    grid-column: 1;  /* Position messages on the right side */
    background-color: #f0f0f0; /* Light gray background */
    border-radius: 15px 15px 15px 0; /* Rounded corners on the right */
    padding: 10px;
    margin-bottom: 10px;
}

.message-sent {
    grid-column: 2;  /* Position messages on the left side */
    background-color: #d0d0d0; /* Slightly darker gray background */
    border-radius: 15px 15px 0 15px; /* Rounded corners on the left */
    padding: 10px;
    margin-bottom: 10px;
    height: 10px;

}

/* Common styles for both types of messages */
.message-sent, .message-received {
    max-width: 50%; /* Limit message width to prevent overflow */
    clear: both; /* Ensure messages start on a new line */
    font-family: sans-serif;
    font-size: 14px;
}

.send-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

a {
    text-decoration: none;
    font-family: 'CustomInter', sans-serif;
}

p {
    font-family: 'CustomInter', sans-serif;
    text-decoration: none;
}

li {
    list-style-type: none;
}

label {
    font-family: 'CustomInter', sans-serif;
}


.sender-chats{
    width: 250px;
    /* height: 80px; */
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 0 15px; /* Rounded corners on the left */
    align-self: flex-end;
    background-color: #D8BFD8;
    display: flex;
    font-size: 14px;
    align-items: center;
    margin: 20px 10px 5px 50%;
}

.receiver-chats{
    width: 250px;
    /* height: 80px; */
    padding: 10px 10px 10px 10px;
    border-radius: 15px 15px 15px 0; /* Rounded corners on the left */
    align-self: flex-start;
    background-color: #DDA0DD;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin: 20px 10px 5px 0;
}