{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Browse Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
</head>

<body>
<header>
    <div class="blur-gradient "></div>
    <nav style="grid-template-columns: 1fr .7fr .5fr 0.3fr;">

        <div class="header-text-container">
            <a href="" class="navbar-text" style="font-size: 30px; color: #ffffff;">BROWSE</a>
        </div>

        <div class="header-text-container">
            <a href="create" class="navbar-text" style="font-size: 20px;">CREATE</a>
        </div>

        <div class="header-text-container">
            <a href="drop" class="navbar-text">DROP</a>
        </div>
        <div><img src="media/threelines.png" style="height: 30px"></div>

    </nav>
</header>
<div class="scroll-container">
    {% for profile in profiles reversed %}
        <a href="profile/{{ profile.user }}" class="public-block"
           style="background: url({{ profile.profileimg.url }}) center/cover no-repeat;">{{ profile.user }}
        </a>
    {% endfor %}
</div>
</body>
</html>