{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Messages</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">

</head>

<body>

<div class="chat-container-parent">
    <div class="chat-container" id="chat-body">

        {% for text in texts %}

            {% if  text.sender == user_profile %}
                <div class="message-container">
                    <div class="message-sent"> {{ text }} </div>
                </div>

            {% else %}
                <div class="message-container">
                    <div class="message-received"> {{ text }} </div>
                </div>


            {% endif %}

        {% empty %}<p>No messages yet.</p>

        {% endfor %}
    </div>
</div>

<div class="secondary-footer">
    <form method="post" enctype="multipart/form-data" class="text-form" id="myform">
        {% csrf_token %}

        <div class="chat-form-container">
            {% render_field form.body id="id_body" class="chat-input" %}
            <button type="submit" class="send-button">SEND</button>
        </div>

    </form>
</div>
<footer>
    <div class="nav2">
        <a href="/">
            <img src="/media/Browse_white.png" style="height: 25px">
        </a>

        <a href="/create">
            <img src="/media/Create_grey.png" style="height: 25px">
        </a>

        <a href="/settings">
            <img src="/media/Account_grey.png" style="height: 25px">
        </a>
    </div>
</footer>
<script>
    let sent_url = "{% url 'sent_msg' friend_object.username %}"
    let rec_url = "{% url 'rec_msg' friend_object.username %}"
</script>

<script src="{% static 'js/chat.js' %}"></script>
</body>

</html>