{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Create Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <script src="{% static 'js/p5.js' %}"></script>
    <script src="{% static 'js/p5.sound.js' %}"></script>
    <script src="{% static 'js/publicTracks.js' %}"></script>
</head>

<body>

<header>
    <div style="width: 87vw; height: 10vh; z-index: 3; display: flex; position: relative; align-items: center; ">
        <p class="private-name">{{ user_profile.name }}</p>
        <div style="width: auto"></div>
        <a href="/friends" class="bell-link">
            <div class="corner-block">
                <p>{{ unread }}</p>
            </div>
        </a>
    </div>
</header>
<div class="dashboard" style="margin-top: 5rem;">

<!--    <div class="public-block-container" style="position: relative; width: fit-content; margin-top: 9vh;">-->
<!--        <a href="settings" class="profile-link">-->
<!--            <img src="{{ user_profile.profileimg.url }}" class="public-block"-->
<!--                 style="width: 100%; filter: brightness(75%)">-->

<!--            <div class="bio-and-music-block" id="bio-text">-->
<!--                <p id="id_bio">{{ user_profile.bio }}</p>-->
<!--                <div id="vis-container" style="height: 100%; width: 50%;">-->
<!--                    {% if user_profile.fav_proj %}-->
<!--                        <img src="/media/waveform.png" style="height: 110%; position: absolute; right: 0;">-->
<!--                    {% else %}-->
<!--                        <p>no project selected</p>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--            </div>-->
<!--        </a>-->
<!--    </div>-->

    <p class="project-heading">Projects</p>

    {#working projects#}
    {% for project in user_projects %}
        <div class="projects-block">
            <a href="workspace/{{ project.id }}" class="project">
                <img src="{{ project.coverimg.url }}" style="height: 100%"/>
                <h4 style="color: white">{{ project.title }}</h4>
            </a>

            <div class="button-container">
                {# Favorite function #}
                <form method="POST" enctype="multipart/form-data" action="" style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="favorite_project"/>
                    <input type="hidden" name="project_id" value="{{ project.id }}"/>
                    <input type="submit" value="Favorite Project" id="favorite-proj-{{ project.id }}"/>
                </form>

                <label for="favorite-proj-{{ project.id }}" class="project-icons" style="height: 70%; width: 45%">
                    {% if project.id == user_profile.fav_proj.id %}
                        <img src="/media/heart_orange.png" alt="Not Favorite">
                    {% else %}
                        <img src="/media/heart_grey.png" alt="Favorite">
                    {% endif %}
                </label>

                {# Delete function #}
                <form method="POST" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="delete_project"/>
                    <input type="hidden" name="project_id" value="{{ project.id }}"/>
                    <input type="submit" value="Delete Project" style="display: none;" id="delete-proj-{{ project.id }}"
                           onclick="return confirm('Are you sure you want to delete {{ project.title }} project?');"/>
                </form>

            </div>
        </div>
    {% empty %}
        <p>No current projects.</p>
    {% endfor %}

    <div class="addtrack-container">
        <a href="setup" class="trackform-label" style="color: black;"></a>
    </div>
</div>

<footer>
    <div class="nav2">
        <a href="/">
            <img src="/media/Browse_grey.png" style="height: 25px">
        </a>

        <a href="/create">
            <img src="/media/Create_white.png" style="height: 25px">
        </a>

        <a href="/settings">
            <img src="/media/Account_grey.png" style="height: 25px">
        </a>
    </div>
</footer>

<script src="{% static 'js/dynamicText.js' %}" async></script>
</body>
</html>