{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Create Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
</head>

<body>

<header>
    <div class="blur-gradient "></div>
    <nav>
        <div class="search-bar">
            <a href="/friends">
                <img src="/media/bell.png" style="height: 100%; aspect-ratio: 1/1;">
            </a>
        </div>
    </nav>
</header>

<div class="dashboard">

    <a href="settings" class="profile-block"
       style="background: url({{ user_profile.profileimg.url }}) center/cover no-repeat;">
        <div>
            <p style="font-size: 20px">{{ user_profile.user.username }}</p>
        </div>
    </a>
    <div class="favorite-project-block">
        {% if user_profile.fav_proj %}
            <p>Favorite Project: {{ user_profile.fav_proj.title }}</p>
        {% else %}
            <p>Favorite Project: None</p>
        {% endif %}
    </div>

    {#notification block#}
    <a href="friends" class="friends-block" style="color: white;">
        {% if last_text %}
            <img style="height: 100%; border-radius: 10px;" src="{{ last_text_user.profileimg.url }}">
            <p style="font-size: 18px; margin-left: 10px; font-weight: normal">{{ last_text.body }}</p>
            <div class="notif_circle" style="font-size: 30px;"><p>{{ unread }}</p></div>
        {% else %}
            <div class="notif_circle" style="font-size: 30px;"><p>0</p></div>
        {% endif %}
    </a>


    {#working projects#}
    {% for project in user_projects %}
        <div class="projects-block">
            <a href="workspace/{{ project.id }}" class="project">
                <img src="{{ project.coverimg.url }}" style="height: 100%"/>
                <img src="media/play.png" style="height: 75%"/>
                <h4 style="color: white">{{ project.title }}</h4>
            </a>

            {# Favorite function #}
            <form method="POST" enctype="multipart/form-data" action="" style="display: none;">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="favorite_project"/>
                <input type="hidden" name="project_id" value="{{ project.id }}"/>
                <input type="submit" value="Favorite Project" id="favorite-proj-{{ project.id }}"/>
            </form>
            <label for="favorite-proj-{{ project.id }}" class="project-icons">
                <img src="/media/heart.png" alt="Favorite">
            </label>

            {# Delete function #}
            <form method="POST" enctype="multipart/form-data" action="">
                {% csrf_token %}
                <input type="hidden" name="form_type" value="delete_project"/>
                <input type="hidden" name="project_id" value="{{ project.id }}"/>
                <input type="submit" value="Delete Project" style="display: none;" id="delete-proj-{{ project.id }}"
                       onclick="return confirm('Are you sure you want to delete {{ project.title }} project?');"/>
            </form>
            <label for="delete-proj-{{ project.id }}" class="project-icons">
                <img src="/media/trash.png" alt="Delete">
            </label>

        </div>
    {% empty %}
        <p>No current projects.</p>
    {% endfor %}


    <div style=""></div>


    <a href="setup" class="trackform-label" style="color: black;">CREATE</a>
</div>
</div>
</div>
<footer>
    <nav style="grid-template-columns: 1fr 1fr 1fr;">
        <div class="header-text-container">
            <a href="/" class="navbar-text" style="font-size: 18px;">
                <img src="/media/Browse_grey.png" style="height: 35px">
            </a>
        </div>

        <div class="header-text-container">
            <a href="create" class="navbar-text" style="font-size: 30px; color: #ffffff;">
                <img src="/media/Create_white.png" style="height: 35px">
            </a>
        </div>

        <div class="header-text-container">
            <a href="drop" class="navbar-text">
                <img src="/media/Drop_grey.png" style="height: 35px">
            </a>
        </div>
    </nav>
</footer>
</body>
</html>