{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html>

<head>
    <title>Create Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <link rel="stylesheet" href="{% static 'css/create.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <script src="{% static 'js/p5.js' %}"></script>
    <script src="{% static 'js/p5.sound.js' %}"></script>
    <script src="{% static 'js/publicTracks.js' %}"></script>
</head>

<body>

<header>
    <div class="header-block">
        <div class="header-left">
            <p style="font-size: 25px;">Workspace</p>
        </div>

        <div class="header-right">
            <div style="width: auto"></div>
            <a href="/friends" class="bell-link" style="margin-right: 25px;">
                <div class="corner-block">
                    <p>{{ unread }}</p>
                </div>
            </a>
        </div>
    </div>
</header>


<div class="scroll-container">
    <a href="/settings">
        <div class="profile-block" style="background-image: url('{{ user_profile.profileimg.url }}'); border-radius: 10px; cursor: pointer;">
<!--            <div class="top-block">-->
                <div class="name-block">
                    <div style="font-size: 25px;">{{ user_profile.name }}</div>
                </div>
<!--            </div>-->

            <div class="blur-block">
                <div class="blur-top">
                    <div class="top-left" style="padding-top: 1rem; padding-left: 1rem;">
                        <p id="id_bio" style="font-size: 15px;">{{ user_profile.bio }}</p>
                    </div>

                    <div class="top-right"></div>
                </div>
            </div>
        </div>
    </a>

    <p style="font-size: 20px; margin-top: 10px">Projects</p>

    {#working projects#}
    {% for project in user_projects %}
        <div class="projects-block">
            <a href="workspace/{{ project.id }}" class="project">
                <img src="{{ project.coverimg.url }}" style="height: 100%"/>
                <h4 style="color: white">{{ project.title }}</h4>
            </a>

            <div class="button-container">
                {# Favorite function #}
                <form method="POST" enctype="multipart/form-data" action="" style="display: none;">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="favorite_project"/>
                    <input type="hidden" name="project_id" value="{{ project.id }}"/>
                    <input type="submit" value="Favorite Project" id="favorite-proj-{{ project.id }}"/>
                </form>

                <label for="favorite-proj-{{ project.id }}" class="project-icons" style="height: 3rem; width: 2rem">
                    {% if project.id == user_profile.fav_proj.id %}
                        <img src="/media/heart_orange.png" alt="Not Favorite">
                    {% else %}
                        <img src="/media/heart_grey.png" alt="Favorite">
                    {% endif %}
                </label>

                {# Delete function #}
                <form method="POST" enctype="multipart/form-data" action="">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="delete_project"/>
                    <input type="hidden" name="project_id" value="{{ project.id }}"/>
                    <input type="submit" value="Delete Project" style="display: none;" id="delete-proj-{{ project.id }}"
                           onclick="return confirm('Are you sure you want to delete {{ project.title }} project?');"/>
                </form>

            </div>
        </div>
    {% empty %}

    {% endfor %}

    <div class="addtrack-container">
        <a href="setup" class="trackform-label" style="color: black;"></a>
    </div>

    <div class="cash-block">
    </div>
</div>

<footer>
    <div class="nav2">
        <a href="/">
            <img src="/media/Browse_grey.png" style="height: 25px">
        </a>

        <a href="/create">
            <img src="/media/Create_white.png" style="height: 25px">
        </a>

        <a href="/settings">
            <img src="/media/Account_grey.png" style="height: 25px">
        </a>
    </div>
</footer>

<script src="{% static 'js/dynamicText.js' %}" async></script>

</body>
</html>