{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Browse Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">

</head>

<body>

<header>
    <nav class="nav-container">

        <div class="header-text-container">
            <a href="/" class="navbar-text" style="font-size: 18px;">BROWSE</a>
        </div>

        <div class="header-text-container">
            <a href="create" class="navbar-text" style="font-size: 18px;" >CREATE</a>
        </div>

        <div class="header-text-container">
            <a href="drop" class="navbar-text" style="font-size: 30px; color: #ffffff;">DROP</a>
        </div>
        <div><img src="media/threelines.png" style="height: 30px"></div>

    </nav>
</header>
<p>No current projects.</p>
<!--<div class="projects-block">-->

<!--    {% for project in published %}-->
<!--    <a href="workspace/{{project.title}}" class="project">-->
<!--        <div style="background: url({{project.coverimg.url}}) center/cover no-repeat; width: 20%; height: 100%; margin: 5px">-->
<!--            <img src="{{project.coverimg}}"/>-->
<!--        </div>-->
<!--        <h4>{{project.title}}</h4>-->
<!--    </a>-->

<!--    {% empty %}-->
<!--    <p>No current projects.</p>-->

<!--    {% endfor %}-->

<!--</div>-->


<footer>
        <div class="drop-button">DROP</div>
</footer>
</body>


</html>