{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Browse Page</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  ? do we even need tailwind  <link rel="stylesheet" href="{% static 'assets/css/tailwind.css' %}">-->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>

<body>

<header>
    <nav>
        <div class="nav-container">

            <div class="box">
                <a href="/" class="navbar-text">BROWSE</a>
            </div>

            <div class="box">
                <a href="create" class="navbar-text">CREATE</a>
            </div>

            <div class="box">
                <a href="drop" class="navbar-text" style="padding-left: 10px; font-size: 30px; color: #000000;">DROP</a>
            </div>

        </div>
    </nav>
</header>
<p>No current projects.</p>
<!--<div class="projects-block">-->

<!--    {% for project in published %}-->
<!--    <a href="workspace/{{project.title}}" class="project">-->
<!--        <div style="background: url({{project.coverimg.url}}) center/cover no-repeat; width: 20%; height: 100%; margin: 5px">-->
<!--            <img src="{{project.coverimg}}"/>-->
<!--        </div>-->
<!--        <h4>{{project.title}}</h4>-->
<!--    </a>-->

<!--    {% empty %}-->
<!--    <p>No current projects.</p>-->

<!--    {% endfor %}-->

<!--</div>-->


<!-- Scripts
   ================================================== -->
<script src="{% static 'assets/js/tippy.all.min.js' %}"></script>
<script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/js/uikit.js' %}"></script>
<script src="{% static 'assets/js/simplebar.js' %}"></script>
<script src="{% static 'assets/js/custom.js' %}"></script>
<script src="{% static '../../unpkg.com/ionicons%405.2.3/dist/ionicons.js' %}"></script>
</body>


</html>