{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Friends list</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" >
</head>
<body>
<header>
    <div class="blur-gradient "></div>
</header>
<div class="message-board-container">
<div class="messages-board">
    {% for chat in chats %}
        <a href="chat/{{ chat.friend }}" class="chat-link">
            <img src="{{ chat.friend.profileimg.url }}" style="height: 100%"/>
            <div>
            <h3 style="font-size: 25px; color: darkslategrey">{{ chat.friend }}</h3>
            <h3 style="font-size: 20px">{{ chat.message.body}}</h3></div>
        </a>

    {% empty %}
        <p>No friends added.</p>

    {% endfor %}
</div>
</div>
</body>
</html>