{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Friends list</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" >
</head>
<body>
<header>
    <div class="blur-gradient "></div>
    <nav>

        <div class="header-text-container">
            <a href="create" class="navbar-text" style="padding-right: 10px; font-size: 30px;">CREATE</a>
        </div>


        <a href="{% url 'logout' %}?next=/signin" style="font-size: 30px; color: white;"><img src="media/threelines.png"
                                                                                              style="height: 30px"></a>
    </nav>
</header>
<div class="message-board-container">
<div class="messages-board">
    {% for chat in chats %}
        <a href="chat/{{ chat.sender }}" class="chat-link">
            <img src="{{ chat.sender.profileimg.url }}" style="height: 100%"/>
            <h3 style="font-size: 20px">{{ chat.sender }}</h3>
            <h3 style="font-size: 20px">{{ chat.body}}</h3>
        </a>

    {% empty %}
        <p>No friends added.</p>

    {% endfor %}
</div>
</div>
</body>
</html>