{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Sign In</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <script src="{% static 'js/login.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>
<body>
<div class="container">
    <div class="wrong-cred login-error" id="loginError">
        <p>Wrong credentials. Try again.</p>
    </div>

    <div class="login-container">
        <div class="login form">
            <div style="display: flex; justify-content: center;">
                <img src="{% static 'favicon.png' %}" style="width: 10rem; margin-bottom: 2rem;">
            </div>
<!--            <header>Login</header>-->

            <form action="" enctype="multipart/form-data" id="loginForm" class="settings-form">
                {% csrf_token %}
                {% render_field form.username placeholder="username" %}
                {% render_field form.password placeholder="password" %}
            </form>
            <button id="button" class="button">Login</button>


            <div class="signup">
        <span class="signup">Don't have an account?
            <a href="signup">Signup</a>
        </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>