{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
</head>

<body>
    <div class="dashboard">

        <div class="image-block" style="background-image: url('{{ user_profile.profileimg.url }}'); border-radius: 10px;">
        </div>

        <div class="other">
            <p class="public-name" style="margin-top: -1.5rem;">{{ user_profile.name }}</p>
            <div class="bio-container">
                <p id="id_bio-{{ user_profile.user.id }}">{{ user_profile.bio }}</p>
            </div>

            {% with user_profile.fav_proj as project %}
                {% if project %}
                    <div class="project-block">
                        <div class="project">
                            <img src="{{ project.coverimg.url }}" style="height: 100%; border-radius: 5px;"/>
                            <h4>{{ project.title }}</h4>
                        </div>
                    </div>
                {% endif %}
            {% endwith %}

        </div>

        <footer>
            <a href="/chat/{{ user_object.username }}" class="trackform-label" style="color: black;">Connect</a>
        </footer>
    </div>
</body>

</html>
