{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
</head>

<body>
<div class="dashboard">

    <div class="image-block">
        <img src="{{ user_profile.profileimg.url }}">
    </div>
    <div class="other">
        <p class="public-name">{{ user_profile.name }}</p>
        <div class="bio-container">
            <p id="id_bio-{{ user_profile.user.id }}">{{ user_profile.bio }}</p>
        </div>

        {% with user_profile.fav_proj as project %}
            {% if project %}
                <div class="project-block">
                    <div class="project">
                        <img src="{{ project.coverimg.url }}" style="height: 100%"/>
                        <h4>{{ project.title }}</h4>
                    </div>
                </div>

            {% else %}
                <p>No Public Projects</p>
            {% endif %}
        {% endwith %}

    </div>

    <div class="secondary-footer">
        <a href="/chat/{{ user_object.username }}" class="trackform-label" style="color: black;">Connect</a>
    </div>

    <footer>
        <div class="nav2">
            <a href="/">
                <img src="/media/Browse_white.png" style="height: 25px">
            </a>

            <a href="/create">
                <img src="/media/Create_grey.png" style="height: 25px">
            </a>

            <a href="/settings">
                <img src="/media/Account_grey.png" style="height: 25px">
            </a>
        </div>
    </footer>
</body>
</html>
