{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}" >
</head>

<body>
<header>
    <nav class="nav-container">

        <div class="box">
            <a href="/" class="navbar-text" style="padding-right: 10px; font-size: 30px; color: #ffffff;">BROWSE</a>
        </div>

    </nav>
</header>

<div class="dashboard">

    <div class="profile-block" style="background: url({{ user_profile.profileimg.url }}) center/cover no-repeat;">

        <div>
            <p style="font-size: 20px">{{ user_profile.user.username }}</p>
        </div>
    </div>

    <div class="projects-block">

        {% for project in projects %}
            <a href="workspace/{{ project.id }}" class="project">
                <img src="{{ project.coverimg.url }}" style="height: 100%"/>
                <img src="/media/play.png" style="height: 75%"/>
                <h4>{{ project.title }}</h4>
            </a>

        {% empty %}
            <p>No current projects.</p>

        {% endfor %}
    </div>
    <div style=""></div>
</div>
<footer>
    <a href="/chat/{{ user_object.username }}" class="connect-button">Connect</a>
</footer>
</body>
</html>
