{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Up</title>
    <link rel="stylesheet" href="{% static 'css/setup.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.css">
</head>

<body>
{#<header>#}
{#    <div class="blur-gradient "></div>#}
{#    <nav>#}
{##}
{#        <div class="header-text-container">#}
{#            <a href="create" class="navbar-text" style="padding-right: 10px; font-size: 30px;">CREATE</a>#}
{#        </div>#}
{##}
{##}
{#        <a href="{% url 'logout' %}?next=/signin" style="font-size: 30px; color: white;"><img src="media/threelines.png"#}
{#                                                                                              style="height: 30px"></a>#}
{#    </nav>#}
{#</header>#}

<div class="container">
    <div class="login form">
        <header>New Project</header>
        <form action="" enctype="multipart/form-data" id="project-form">
            {% csrf_token %}
            <div class="wksp-image-block" id="image-box">
                <div id="image-container" style="max-width: 10vh; max-height: 50vh">
                    <img src="media/upload-icon.png" id="image" style="height: 100%; width: 100%">
                </div>
            </div>
            <input type="hidden" name="true_coverimg" id="true_coverimg">
            {{ form.coverimg }}
            {{ form.title }}
            <button class="button" id="confirm-btn">CREATE</button>
        </form>
    </div>
</div>

<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- cropper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"></script>

<!-- static -->
<script src="{% static 'js/setup.js' %}"></script>
</body>
</html>