{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Up</title>
    <link rel="stylesheet" href="{% static 'css/setup.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.css">
</head>

<body>
<header>
    <div class="blur-gradient "></div>
    <nav>

        <div class="header-text-container">
            <a href="create" class="navbar-text" style="padding-right: 10px; font-size: 30px;">CREATE</a>
        </div>


        <a href="{% url 'logout' %}?next=/signin" style="font-size: 30px; color: white;"><img src="media/threelines.png"
                                                                                              style="height: 30px"></a>
    </nav>
</header>

<div class="container">
    <h1 style="color:black;">New Project</h1>
    <form action="" enctype="multipart/form-data" id="project-form" class="set-up-form">
        {% csrf_token %}

        {{ form.coverimg }}
        <div class="input-container">
            <div class="wksp-image-block" id="image-box">
                <div id="image-container" style="max-width: 10vh; max-height: 50vh">
                    <label for="id_coverimg" class="cviform-label">
                        <img src="media/upload-icon.png" id="image"
                             style="height: 100%; border: 5px dashed #000000;"></label>
                </div>
            </div>

            {{ form.title }}
        </div>
        <button class="button" id="confirm-btn">CREATE</button>
    </form>
</div>

<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- cropper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"></script>

<!-- static -->
<script src="{% static 'js/setup.js' %}"></script>
</body>
</html>