<!DOCTYPE html>
<html>
<head>
  <title>Sign Up</title>
</head>
<body>
  <h1>Sign Up</h1>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="username" name="username" placeholder="Username">
    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Sign Up">
  </form>
</body>
<head>
    <title>Redirect Button</title>
</head>
<body>
    <a href='signin' class="redirect-button">Click to Redirect</a>
</body>
</html>

</html>
