{% load widget_tweaks %}
{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, user-scalable=no">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="{% static '/css/login.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <script src="{% static 'js/signup.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

</head>

<body>
<div class="container">
    <div class="wrong-cred signup-error" id="loginError">
        <p>Wrong credentials. Try again.</p>
    </div>
    <div class="login-container">
        <div class="registration form">
            <div style="display: flex; justify-content: center;">
                <img src="{% static 'logo.png' %}" style="width: 10rem;">
            </div>
                        <form action="" enctype="multipart/form-data" id="signUpForm" class="settings-form">
                            {% csrf_token %}
                            {% render_field form.email placeholder="Enter your Email" %}
                            {% render_field form.username placeholder="Create a Username" %}
                            {% render_field form.password1 placeholder="Create your password" id="id_password" %}
                        </form>
                        <button id="button" class="button">Signup</button>

            <div class="signup">
        <span class="signup">Already have an account?
            <br>
            <a href="signin" class="redirect-button">Sign In</a>
        </span>
            </div>
        </div>
    </div>
</div>
</body>
</html>
