{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Sign In</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'css/details.css' %}">

</head>

<body>
<h1>Sign In</h1>
<form action="" method="POST">
    <div class="signin">
        {% csrf_token %}
        <input type="username" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" value="Sign In">
    </div>
</form>

<a href='signup' class="redirect-button">Sign Up</a>
</body>
</html>
