{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Workspace</title>
    <style>
        .content {
            position: relative;
        }

        .modal {
            display: block;
            display: none;
            position: relative;
            margin-top: 20px;
            background-color: #151515;
            border-radius: 5px;
            width: 100%;
            max-height: 55vh;
            overflow: auto;
        }

    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/cssdaw/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssdaw/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssdaw/blocks.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssdaw/details.css' %}">
    <link rel="stylesheet" href="{% static 'css/cssdaw/blocks.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.css">
    <script src="{% static 'js/p5.js' %}"></script>
    <script src="{% static 'js/p5.sound.js' %}"></script>
    <script src="{% static 'js/recs.js' %}"></script>
    <script src="{% static 'js/dropzone.js' %}"></script>
</head>

<body>
<header>
    <div class="blur-gradient "></div>
    <nav>
        <div class="nav-container">

            <div class="box"></div>

            <div class="box">
                <a href="/create" class="navbar-text" style="font-size: 30px; color: #FFF;">CREATE</a>
            </div>

            <div class="box"></div>

        </div>
    </nav>
</header>

<div class="dashboard" style="margin-top: 10vh;">

    <div class="wksp-settings-container">

        <div class="wksp-image-block">
            <div id="image-box" style="max-width: 70vh; max-height: 50vh">
                <img src="{{ user_project.coverimg.url }}" id="image" style="height: 100%; width: 100%">
            </div>
        </div>
    <div class="form-container">
        <form action="" enctype="multipart/form-data" id="project-form">
            {% csrf_token %}
            {{ form2.coverimg }}
            {{ form2.title }}
        </form>
        <button class="custom-file-input" id="confirm-btn">Save Changes</button>
    </div>

    </div>

    <div class="modal" id="codeModal">
        {% for track in project_tracks %}
            <div style="margin-bottom: 2vh;"></div>
            <div id="vis-container-{{ track.id }}" class="projects-block" style="margin: 0 10px;"></div>
            <script src="{% static 'js/tracks.js' %}"></script>
            <script>
                createVis({{ track.id }}, '{{ track.mp3.url }}');
            </script>
        {% endfor %}

        <div id="micVis" class="projects-block" style="margin: 0 10px;"></div>
    </div>

    <script src="{% static 'js/modal.js' %}"></script>

    <!--    <form method="POST" enctype="multipart/form-data">-->
    <!--        {% csrf_token %}-->
    <!--        {{ form1 }}-->
    <!--        <button>Add</button>-->
    <!--    </form>-->

    <form id="TrackForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form1.as_p }}
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#id_mp3').change(function () {
                $('#TrackForm').submit();
            });
        });
    </script>
</div> <!--??-->

<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- cropper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"></script>

<!-- static -->
<script src="{% static 'js/workspace.js' %}"></script>
</body>

</html>