{% load widget_tweaks %}

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Workspace</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="{% static 'site.webmanifest' %}">
    <link rel="stylesheet" href="{% static 'css/DAW.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.css">
    <script src="{% static 'js/p5.js' %}"></script>
    <script src="{% static 'js/p5.sound.js' %}"></script>
    <script src="{% static 'js/recs.js' %}"></script>
    <script src="{% static 'js/tracks.js' %}"></script>

</head>

<body>

    <header>
        <div class="blur-gradient "></div>
        <nav>
            <div class="search-bar">
                <a href="/friends">
                     <img src="/media/bell.png" style="height: 100%; aspect-ratio: 1/1;">
                </a>
            </div>
        </nav>
    </header>


    <form method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        <input type="hidden" name="form_type" value="delete_project"/>
        <input type="submit" value="Delete Project"
               onclick="return confirm('Are you sure you want to delete this project?');"/>
    </form>


    <div class="project-card">
        <div class="left-panel">
            <div class="form-container">
                <form action="" enctype="multipart/form-data" id="project-form">
                    {% csrf_token %}
                    {% render_field form2.title class+='title-input' %}
                    <div class="coverimg-container">
                        {{ form2.coverimg }}
                    </div>
                </form>
                <button class="custom-file-input" id="confirm-btn">Save Changes</button>
            </div>
        </div>

        <div class="right-panel">
            <img src="{{ user_project.coverimg.url }}" id="image" style="height: 100%; width: 100%">
        </div>
    </div>

    <div class="daw">
        <div class="vertical-line"></div>

        <div class="daw-controls">
            <div id="control-container"></div>
            <script>
                controlVis();
            </script>

            {% for track in project_tracks %}
                <div id="mute-container-{{ track.id }}"></div>
            {% endfor %}
        </div>

        <div class="vertical-line"></div>

        <div class="modal" id="codeModal">
            <div id="ruler-container"></div>
            <script>
                createRuler();
            </script>

            {% for track in project_tracks %}
                <div id="vis-container-{{ track.id }}"></div>
                <script>
                    createVis({{ track.id }}, '{{ track.mp3.url }}');
                </script>
            {% endfor %}
            <div id="micVis"></div>
        </div>
    </div>

    <script src="{% static 'js/modal.js' %}"></script>

    <form id="TrackForm" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form1.mp3 }}
    </form>

    <div>
        <label for="id_mp3" class="trackform-label">ADD TRACK</label>
    </div>



<!-- jquery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- cropper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js"></script>

<!-- static -->
<script src="{% static 'js/workspace.js' %}"></script>

<footer>
    <nav>
        <a href="/" class="navbar-text" style="font-size: 18px;">
            <img src="/media/Browse_grey.png" style="height: 25px">
        </a>

        <a href="/create" class="navbar-text" style="font-size: 30px; color: #ffffff;">
            <img src="/media/Create_white.png" style="height: 25px">
        </a>

        <a href="/drop" class="navbar-text">
            <img src="/media/Drop_grey.png" style="height: 25px">
        </a>
    </nav>
</footer>

</body>

</html>